html {
  font-family: sans-serif;
}

img {
  width: 170px;
  border-radius: 50%;
  margin-right: 30px;
}

h1 {
  font-size: 20px;
}

h2 {
  margin-top: 50px;
  font-size: 18px;
}

h3 {
  margin-top: 50px;
  font-size: 16px;
}

p {
  font-size: 14px;
}

.conteiner {
  margin-top: 50px;
  padding-left: 50px;
}

.about {
  display: flex;
}

.input {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.input-wrap {
}

table {
  width: 500px;
}

td,
th {
  padding: 5px;
  border: 1px solid;
}
